[env]
cjHeapSize=512MB
JETVMPROP="-Xmx512m"
PATH=/home/shihongyu/package/android_sdk/build-tools/33.0.0:/home/shihongyu/package/android_sdk/platform-tools:/home/shihongyu/package/jdk/jdk/jdk11/linux-x86/bin:/home/shihongyu/workspace/Cangjie_Mobile_Memory/Cangjie/cangjie/bin:/home/shihongyu/workspace/Cangjie_Mobile_Memory/Cangjie/cangjie/tools/bin:/home/shihongyu/package/ndk/android-ndk-r25c/toolchains/llvm/prebuilt/linux-x86_64/bin/:$PATH
LD_LIBRARY_PATH=/home/shihongyu/workspace/Cangjie_Mobile_Memory/Cangjie/cangjie/runtime/lib/linux_hos31_aarch64_llvm:/home/shihongyu/workspace/Cangjie_Mobile_Memory/Cangjie/cangjie/third_party/llvm/lldb/lib:${LD_LIBRARY_PATH}
JAVA_HOME=/home/shihongyu/package/jdk/jdk/jdk11/linux-x86/

[env_linux]
cjHeapSize=512MB
JETVMPROP="-Xmx512m"
JAVA_HOME=/home/shihongyu/package/jdk/jdk/jdk11/linux-x86/

[language]
language = cj java

[compile]
cj = cjc -O2 --no-sub-pkg --target=aarch64-linux-android31 --int-overflow=wrapping --sysroot=/home/shihongyu/package/ndk/android-ndk-r25c/toolchains/llvm/prebuilt/linux-x86_64/sysroot/ -B=/home/shihongyu/package/ndk/android-ndk-r25c/toolchains/llvm/prebuilt/linux-x86_64/bin -L $CANGJIE_STDX_PATH -lstdx.actors -lstdx.aspect_cj -lstdx.effect -lstdx.encoding.json -lstdx.serialization.serialization -lstdx.net.http -lstdx.net.tls -lstdx.net.tls.common -lstdx.logger -lstdx.log -lstdx.encoding.url -lstdx.encoding.json.stream -lstdx.crypto.kit -lstdx.crypto.keys -lstdx.crypto.x509 -lstdx.encoding.hex -lstdx.crypto.crypto -lstdx.crypto.digest -lstdx.crypto.common -lstdx.encoding.base64 -lstdx.compress.zlib -lstdx.compress -lstdx.syntax -lstdx.syntaxFFI -ldl --import-path $CANGJIE_STDX_PATH %r.cj -o ${SCRIPTS_DIR}/cj_result/%n.cj.out

java = javac -classpath /home/shihongyu/workspace/Cangjie_Mobile_Memory/oh-benchmark/run_sh/okio-1.14.0.jar:/home/shihongyu/workspace/Cangjie_Mobile_Memory/oh-benchmark/run_sh/okhttp-3.10.0.jar:/home/shihongyu/workspace/Cangjie_Mobile_Memory/oh-benchmark/run_sh/gson-2.10.1.jar -O %r.java; jar cvf %n.jar *.class; echo "mkdir ${SCRIPTS_DIR}/java_result/%n | /home/shihongyu/package/android_sdk/build-tools/33.0.0/d8 --release --output ${SCRIPTS_DIR}/java_result/%n ${SCRIPTS_DIR}/tmp/%onlydirs/code/%jarpath.jar">> ${SCRIPTS_DIR}/java_result/run.sh
# dir
# java = javac -classpath /home/shihongyu/workspace/Cangjie_Mobile_Memory/oh-benchmark/run_sh/okio-1.14.0.jar:/home/shihongyu/workspace/Cangjie_Mobile_Memory/oh-benchmark/run_sh/okhttp-3.10.0.jar:/home/shihongyu/workspace/Cangjie_Mobile_Memory/oh-benchmark/run_sh/gson-2.10.1.jar -O %r.java; jar cvf ../%n.jar *.class; echo "mkdir ${SCRIPTS_DIR}/java_result/%n | /home/shihongyu/package/android_sdk/build-tools/33.0.0/d8 --release --output ${SCRIPTS_DIR}/java_result/%n ${SCRIPTS_DIR}/tmp/%onlydirs/code/%n.jar">> ${SCRIPTS_DIR}/java_result/run.sh

[compile_linux]
# cj = cjc -O2 --int-overflow wrapping %f -o %n.cj.out 
cj = cjc -O2 --no-sub-pkg --target=aarch64-linux-android31 --int-overflow=wrapping -B=/home/shihongyu/package/ndk/android-ndk-r25c/toolchains/llvm/prebuilt/linux-x86_64/bin --sysroot=/home/shihongyu/package/ndk/android-ndk-r25c/toolchains/llvm/prebuilt/linux-x86_64/sysroot/ -L $CANGJIE_STDX_PATH -lstdx.actors -lstdx.aspect_cj -lstdx.effect -lstdx.encoding.json -lstdx.serialization.serialization -lstdx.net.http -lstdx.net.tls -lstdx.net.tls.common -lstdx.logger -lstdx.log -lstdx.encoding.url -lstdx.encoding.json.stream -lstdx.crypto.kit -lstdx.crypto.keys -lstdx.crypto.x509 -lstdx.encoding.hex -lstdx.crypto.crypto -lstdx.crypto.digest -lstdx.crypto.common -lstdx.encoding.base64 -lstdx.compress.zlib -lstdx.compress -lstdx.syntax -lstdx.syntaxFFI -ldl --import-path $CANGJIE_STDX_PATH %r.cj -o %n.cj.out --sysroot -B
# go = go build -o %n.go.out %f
go = go build -o %n.go.out %r.go
# swift = swiftc -Ounchecked -o %n.swift.out %f
swift = swiftc -Ounchecked -o %n.swift.out %r.swift
# java = javac -O %f
java = javac -O %r.java

[run]
cj = cjHeapSize=512MB ./%n.cj.out %testrange

go = ./%n.go.out %testrange

swift= ./%n.swift.out %testrange

java = java -Xms512m -Xmx512m %n %testrange

[repeat]
repeat = 1

[interval]
interval = 0.1

[timeout]
timeout = 600

[output]
output =
 rss vms cpu

[case_path]
case_path = ${WORKSPACE}/code/Cangjie-test/testsuites/HLT/Benchmark/CJ-GCbenchmark/case/

[filters]
signal_file_case =
  BasicCase
  MicroCase
  WorkloadCase

multiple_file_case =
  
