[suffix]
  cj = //
  info = //
[internal-var]
  cjc = cjc
  cjcpl = cjcpl
  old = --old
  new = --new
  api = --api
  abi = --abi

  # cjc options
  staticlib = --output-type=staticlib

  # platform-dependent commands
  diff = diff
  rmfile = rm -f
  rmdir = rm -rf
  redirectNull = /dev/null
  move = mv
  touch = touch
  mkdir = mkdir -p
  cpfile = cp
  cpdir = cp -rf
  cp = cp
  ls = ls
  pwd = $(pwd)
[description]
  title = test
[env]

