# Copyright (c) Huawei Technologies Co., Ltd. 2025. All rights reserved.
# This source file is part of the Cangjie project, licensed under Apache-2.0
# with Runtime Library Exception.
#
# See https://cangjie-lang.cn/pages/LICENSE for license information.

[root]
  path = ../../
[suffix]
  info = //
[inherit]
inherit=./cjnative_test.cfg
[condition]
condition =
  CJNATIVE
  x86
  Linux
  Unix
[internal-var]
  clang = clang $(gnustep-config --objc-flags) $(gnustep-config --base-libs)
  clang_link_core = -lgnustep-corebase
[description]
  title = cangjie_cjnative_test_linux_gnustep
[env]
  LD_LIBRARY_PATH=./:$LD_LIBRARY_PATH
