[root]
  path = ../../
[suffix]
  cj = //
  info = //
[env]
  LD_LIBRARY_PATH=./:$LD_LIBRARY_PATH
[inherit]
  inherit=./common.cfg

[condition]
  condition = never
[internal-var]
  # dylib suffix on host machine.
  host_dylib_suffix = so
  mkdir = mkdir -p
  rmdir = rm -rf
  cangjie-repo-token=$CANGJIE_REPO_TOKEN
  repo_sed = sed -i
  cangjie-home = $CANGJIE_HOME
  java-home = $JAVA_HOME

  cangjie-stdx-path=$CANGJIE_STDX_PATH/../..
  cangjie-static-stdx-path=$CANGJIE_STDX_PATH/../../static/stdx
  cangjie-dynamic-stdx-path=$CANGJIE_STDX_PATH/../../dynamic/stdx
  dypath-cwd = export LD_LIBRARY_PATH=$(pwd):$LD_LIBRARY_PATH &&
  dypath-cangjie-dynamic-stdx-path = export LD_LIBRARY_PATH=$CANGJIE_STDX_PATH/../../dynamic/stdx:$LD_LIBRARY_PATH &&
  check-dylib-dep = ldd 
  openssl_path = $OPENSSL_PATH

[description]
  title = Cangjie2cjnative Test
