[root]
  path = ../../
[suffix]
  cj = //
  info = //
[env]
  LD_LIBRARY_PATH=./:$LD_LIBRARY_PATH
[inherit]
  inherit=./common.cfg
 
  
[condition]
  condition = never
[internal-var]
  cangjie-home = %%CANGJIE_HOME%%
  mkdir = md
  rmdir = rd /s /q
  # cjpm repo
  cangjie-repo-token = %%CANGJIE_REPO_TOKEN%%
  repo_sed = sed -i

  # dylib suffix on host machine.
  host_dylib_suffix = dll

  cangjie-stdx-path=%%CANGJIE_STDX_PATH%%/../..
  cangjie-static-stdx-path=%%CANGJIE_STDX_PATH%%/../../static/stdx
  cangjie-dynamic-stdx-path=%%CANGJIE_STDX_PATH%%/../../dynamic/stdx
  check-dylib-dep = dumpbin /dependents

  dypath-cwd = set LD_LIBRARY_PATH=%%chdir%%:%%LD_LIBRARY_PATH%% &&
  dypath-cangjie-dynamic-stdx-path = set LD_LIBRARY_PATH=%%CANGJIE_STDX_PATH%%/../../dynamic/stdx:%%LD_LIBRARY_PATH%% && 
  mingw-home = %%MINGW_HOME%%
  static-openssl-dir = %%STATIC_OPENSSL_DIR%%

[description]
  title = Cangjie2cjnative Test
